body {
    font-family:Helvetica,Arial,FreeSans,sans-serif
}

#drop {
    border:2px dashed #bbb;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    padding:25px;
    text-align:center;
    width:128px;
    font:20pt bold,Sans-Serif;
    color:#bbb
}

#left {
    width:188px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    float: left;
}

#right {
    margin-top: 40px;
    margin-left: 40px;
}

#header {
    height:168px
}

.handsontable {
    margin-bottom:10px;
    color:#000;
    z-index:2;
    font-size:12px
}


.btn {
  display: inline-block;
  padding: 5px 12px;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open>.dropdown-toggle.btn-default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}


.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}


.changeTypeMenu {
    position:absolute;
    border:1px solid #ccc;
    margin-top:18px;
    box-shadow:0 1px 3px -1px #323232;
    background:#fff;
    padding:0;
    display:none;
    z-index:10
}

.changeTypeMenu li {
    text-align:left;
    list-style:none;
    padding:2px 20px;
    cursor:pointer;
    margin-bottom:0
}

.changeTypeMenu li.active:before {
    content:"\2714";
    margin-left:-15px;
    margin-right:3px
}

.changeTypeMenu li:hover {
    background:#eee
}
