body {
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif
}

#drop {
    border:2px dashed #bbb;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    padding:25px;
    text-align:center;
    width:128px;
    font:20pt bold,Sans-Serif;
    color:#bbb
}

#left {
    width: 188px;
    height: 400px;
    margin: 40px;
    float: left;
}

#right {
    margin-top: 40px;
}

#header {
    height:168px
}

.use-example-csv {
    text-align: center;
    padding: 30px 0 0;
}

.validation-errors {
    margin-bottom: 20px;
}

.handsontable {
    margin-bottom:10px;
    color:#000;
    z-index:2;
    font-size:12px
}


.btn {
  display: inline-block;
  padding: 5px 12px;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open>.dropdown-toggle.btn-default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.btn-submit {
    margin: 34px 32px;
    font-size: 20px;
    padding: 10px 24px;
}


.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

ul.errors {
    line-height: 160%;
}

.result {
  font-size: 16px;
  max-height: 270px;
  overflow: scroll;
  border: 2px solid gray;
  margin-top: 10px;
  margin-right: 40px;
  padding: 20px;
  display: none;
}

